<app-menu></app-menu>
<app-presentation
  [title]="personalInformation.fullName" 
  [subTitle]="personalInformation.title"
  nameImage="developer.png">
</app-presentation>
<app-about-me
  title="SOBRE MI"
  nameImage="profile.jpeg"
  [description]="personalInformation.summary">
</app-about-me>
<app-experience
  title="EXPERIENCIA">
</app-experience>
<app-education
  title="EDUCACIÓN">
</app-education>
<app-hability
  title="HABILIDADES">
</app-hability>
<app-proyect
  title="PROYECTOS">
</app-proyect>
<app-footer></app-footer>