<footer class="footer">
  <div class="container">
    <ul class="sections">
      <li><a href="#presentation">Presentación</a></li>
      <li><a href="#about-me">Sobre Mi</a></li>
      <li><a href="#experience">Experiencia</a></li>
      <li><a href="#education">Educación</a></li>
      <li><a href="#hability">Habilidades</a></li>
      <li><a href="#proyect">Proyectos</a></li>
    </ul>
    <p class="text-center">Copyright @2022&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Diseñado por <strong>Lucero Nicolás</strong></p>
    <p class="text-center"><i class="fa fa fa-phone"></i> +54 9 353 4144238&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa fa fa-envelope"></i> lucero.nicolas.ezequiel@gmail.com</p>
    <ul class="social">
      <li><a href="https://ar.linkedin.com/in/nicolas-ezequiel-lucero?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
      <li><a href="https://github.com/luceronicolasezequiel" target="_blank"><i class="fa fa-github-square fa-3x"></i></a></li>
      <li><a href="https://www.instagram.com/luceronicolas_/" target="_blank"><i class="fa fa-instagram fa-3x"></i></a></li>
    </ul>
  </div>
</footer>
