.background {
  background-color: #F4F6F6;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.title {
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 3rem;
  padding-bottom: 4rem;
}

.container-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.2rem;
}

.box {
  margin: 0.3rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
  background-color: #F4F6F6;
}

@media (min-width: 280px) and (max-width: 767px) {
  .container-box {
    grid-template-columns: 1fr 1fr;
  }
}
