.background {
  background-color: #EBEDEF; /* #655C56; */
  padding-bottom: 1.5rem;
}

.title {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1.8rem;
}

.container-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
}

.box {
  margin: 0.3rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
  background-color: #DBE8DB; /* #E5F2E5 #8a8480; */
}

@media (min-width: 280px) and (max-width: 767px) {
  .container-box {
    grid-template-columns: 1fr;
  }
}
