<section id="presentation">
  <div class="background">
    <div class="container">
      <div class="container-box">
        <div class="box">
          <img class="img-responsive img-size" src="../assets/img/developer.png">
          <h1 class="title">
            {{personalInformation.surname}}&nbsp;{{personalInformation.name}}&nbsp;
            <a
              *ngIf="(isLoggedIn$ | async)"
              class="fa fa-pencil update" title="Editar"
              (click)="onOpenModal()">
            </a>
          </h1>
          <h2 class="sub-title">{{personalInformation.title}}</h2>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading
    [show]="loading"
  ></ngx-loading>
</section>
