<div class="modal-header">
  <h5 class="modal-title" id="titleModalLabel">Experiencia | Editar</h5>
  <button type="button" class="btn-close" data-dismiss="modal" (click)="onCancel()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <input class="form-control" type="hidden" name="id" id="id" formControlName="id">
    <div class="mb-3">
      <label class="form-label" for="position">Puesto</label>
      <input class="form-control" type="text" name="position" id="position" formControlName="position"
              [ngClass]="{'is-invalid': this.position?.invalid && (this.position?.dirty || this.position?.touched),
                          'is-valid': !this.position?.invalid && (this.position?.dirty || this.position?.touched)}">
      <div *ngIf="this.position?.invalid && (this.position?.dirty || this.position?.touched)">
        <p *ngIf="position?.errors?.['required']" class="validation text-danger">
          El Puesto es requerido.
        </p>
        <p *ngIf="position?.errors?.['minlength'] || position?.errors?.['maxlength']" class="validation text-danger">
          El Puesto debe tener entre 3 y 100 caracteres.
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="organization">Organización</label>
      <input class="form-control" type="text" name="organization" id="organization" formControlName="organization"
              [ngClass]="{'is-invalid': this.organization?.invalid && (this.organization?.dirty || this.organization?.touched),
                          'is-valid': !this.organization?.invalid && (this.organization?.dirty || this.organization?.touched)}">
      <div *ngIf="this.organization?.invalid && (this.organization?.dirty || this.organization?.touched)">
        <p *ngIf="organization?.errors?.['required']" class="validation text-danger">
          La Organización es requerido.
        </p>
        <p *ngIf="organization?.errors?.['minlength'] || organization?.errors?.['maxlength']" class="validation text-danger">
          La Organización debe tener entre 3 y 100 caracteres.
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="periodFrom">Desde</label>
      <input class="form-control" type="date" name="periodFrom" id="periodFrom" formControlName="periodFrom"
              [ngClass]="{'is-invalid': this.periodFrom?.invalid && (this.periodFrom?.dirty || this.periodFrom?.touched),
            'is-valid': !this.periodFrom?.invalid && (this.periodFrom?.dirty || this.periodFrom?.touched)}">
      <div *ngIf="this.periodFrom?.invalid && (this.periodFrom?.dirty || this.periodFrom?.touched)">
        <p *ngIf="periodFrom?.errors?.['required']" class="validation text-danger">
          La fecha Desde es requerida.
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="periodTo">Hasta</label>
      <input class="form-control" type="date" name="periodTo" id="periodTo" formControlName="periodTo"
              [ngClass]="{'is-invalid': this.periodTo?.invalid && (this.periodTo?.dirty || this.periodTo?.touched),
            'is-valid': !this.periodTo?.invalid && (this.periodTo?.dirty || this.periodTo?.touched)}">
    </div>
  </form>
</div>
<div class="modal-footer">
  <app-button
    textButton="Guardar"
    nameButton="save"
    typeButton="button"
    [isDisabled]="formIsInValid"
    classButton="btn btn-dark"
    (clickEvent)="onSave()">
  </app-button>
  <app-button
    textButton="Cancelar"
    nameButton="cancel"
    typeButton="button"
    [isDisabled]="false"
    classButton="btn btn-secondary"
    (clickEvent)="onCancel()"
    data-dismiss="modal">
  </app-button>
  <ngx-loading
    [show]="loading"
  ></ngx-loading>
</div>
