.background {
  background-color: #808B96;
  padding-bottom: 1.5rem;
}

.title {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1.8rem;
}

.container-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.2rem;
}

.box {
  margin: 0.3rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
  background-color: #ABB2B9;
}
