.background {
  background-color: #F0F0F0;
}

.container-box {
  height: 100vh;
  min-height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  height: 23rem;
  width: 25rem;
  padding: 2rem 2rem;
  border-radius: 0.8rem;
  background-color: #FAFAFA;
}

.title {
  text-align: center;
  padding-bottom: 1rem;
  color: #0D6EFD;
}
