<div class="background">
  <div class="container">
    <div class="container-box">
      <div class="box">
        <form>
          <h1 class="title">{{title}}</h1>
          <app-input-text
            textLabel="Correo"
            nameInput="email"
            typeInput="email">
          </app-input-text>
          <app-input-text
            textLabel="Clave"
            nameInput="password"
            typeInput="password">
          </app-input-text>
          <app-button
            textButton="Ingresar"
            nameButton="login"
            typeButton="submit"
            classButton="btn-outline-primary btn-lg">
          </app-button>
        </form>
      </div>
    </div>
  </div>
</div>
