<section id="about-me">
  <div class="background">
    <div class="container">
      <h1 class="title">{{title}}</h1>
      <div class="container-box">
        <div>
          <img class="rounded-circle img-responsive profile-img" loading="lazy" [src]="profile">
          <a
            *ngIf="(isLoggedIn$ | async)"
            class="fa fa-pencil fa-3x update profile-edit" title="Editar"
            (click)="onOpenModalProfile()">
          </a>
        </div>
        <div>
          <p>
            {{personalInformation.summary}}&nbsp;
            <a
              *ngIf="(isLoggedIn$ | async)"
              class="fa fa-pencil update" title="Editar"
              (click)="onOpenModalGeneral()">
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading
    [show]="loading"
    [config]="{ fullScreenBackdrop: true }"
  ></ngx-loading>
</section>
