.background {
  background-color: #F8F9F9;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.title {
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 4rem;
  padding-bottom: 4rem;
  font-family: 'Bebas Neue', cursive;
}

.container-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.2rem;
  align-items: center;
}

.profile-img {
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
  height: 15rem;
  width: 15rem;
  min-height: 15rem;
  min-width: 15rem;
  display: block;
}

.profile-edit {
  height: 2rem;
  width: 2rem;
  margin: auto;
  left: 55%;
  top: -1.4rem;
  position: relative;
  z-index: 10;
  font-size: 2.3rem;
}

.profile-edit:hover {
  font-size: 2.3rem;
}

p {
  text-align: justify;
  font-family: 'Encode Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  padding-left: 1rem;
} 

@media (min-width: 280px) and (max-width: 767px) {
  .container-box {
    display:contents;
  }

  .profile-img {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  p {
    padding-top: 2rem;
  }

}
