<section id="about-me">
  <div class="background">
    <div class="container">
      <h1 class="title">{{title}}</h1>
      <div class="container-box">
        <div>
          <img class="rounded-circle img-responsive img-profile" loading="lazy" src="data:image/png;base64,{{personalInformation.profile}}">
        </div>
        <div>
          <p>
            {{personalInformation.summary}}&nbsp;
            <a
              *ngIf="(isLoggedIn$ | async)"
              class="fa fa-pencil update" title="Editar"
              (click)="onOpenModal()">
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>  
</section>
