.background {
  background-color: #655C56;
  padding-bottom: 1.5rem;
  color: white;
}

.title {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1.8rem;
}

.container-skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.skill {
  text-align: center;
  margin-right: 0.4rem;
  width: 8rem;
  margin-top: 0.3rem;
  padding: 0.5rem 0.8rem;
  background-color: #8a8480;
  border-radius: 1rem;
}
