<div class="background">
  <div class="container">
    <h1 class="title">{{title}}</h1>
    <div class="container-skill">
      <div class="skill">
        <i class="devicon-angularjs-plain size-icon"></i><br>
        Angular
      </div>
      <div class="skill">
        <i class="devicon-html5-plain size-icon"></i><br>
        Html5
      </div>
      <div class="skill">
        <i class="devicon-css3-plain size-icon"></i><br>
        CSS
      </div>
      <div class="skill">
        <i class="devicon-javascript-plain size-icon"></i><br>
        JavaScript
      </div>
      <div class="skill">
        <i class="devicon-csharp-plain size-icon"></i><br>
        CSharp
      </div>
      <div class="skill">
        <i class="devicon-microsoftsqlserver-plain size-icon"></i><br>
        SQL Server
      </div>
      <div class="skill">
        <i class="devicon-postgresql-plain size-icon"></i><br>
        Postgres SQL
      </div>
      <div class="skill">
        <i class="devicon-git-plain size-icon"></i><br>
        Git
      </div>
      <div class="skill">
        <i class="devicon-gitlab-plain size-icon"></i><br>
        Gitlab
      </div>
    </div>
  </div>
</div>
