m-1 {
  margin-top: 1rem;
}

p-1 {
  padding: 1rem 1rem;
}

input[type=email], input[type=password], input[type=text] {
  padding: 0.7rem 0.5rem;
  background-color: #FAFAFA;
  box-sizing: border-box;
  border: 0.1rem solid #ccc;
  transition: 0.5s;
  outline: none;
}

input[type=email]:focus, input[type=password]:focus, input[type=text]:focus {
  box-shadow: 0 0 5px 1px #555;
}

p.validation {
  padding-top: 0.3rem;
  font-size: 0.8rem;
}
