<div class="modal-header">
  <h5 class="modal-title" id="titleModalLabel">Presentación | Editar</h5>
  <button type="button" class="btn-close" data-dismiss="modal" (click)="onCancel()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <input class="form-control" type="hidden" name="id" id="id" formControlName="id">
    <div class="mb-3">
      <label class="form-label" for="name">Nombre</label>
      <input class="form-control" type="text" name="name" id="name" formControlName="name"
              [ngClass]="{'is-invalid': this.name?.invalid && (this.name?.dirty || this.name?.touched),
                          'is-valid': !this.name?.invalid && (this.name?.dirty || this.name?.touched)}">
      <div *ngIf="this.name?.invalid && (this.name?.dirty || this.name?.touched)">
        <p *ngIf="name?.errors?.['required']" class="validation text-danger">
          El Nombre es requerido.
        </p>
        <p *ngIf="name?.errors?.['minlength'] || name?.errors?.['maxlength']" class="validation text-danger">
          El Nombre debe tener entre 3 y 50 caracteres.
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="surname">Apellido</label>
      <input class="form-control" type="text" name="surname" id="surname" formControlName="surname"
              [ngClass]="{'is-invalid': this.surname?.invalid && (this.surname?.dirty || this.surname?.touched),
                          'is-valid': !this.surname?.invalid && (this.surname?.dirty || this.surname?.touched)}">
      <div *ngIf="this.surname?.invalid && (this.surname?.dirty || this.surname?.touched)">
        <p *ngIf="surname?.errors?.['required']" class="validation text-danger">
          El Apellido es requerido.
        </p>
        <p *ngIf="surname?.errors?.['minlength'] || surname?.errors?.['maxlength']" class="validation text-danger">
          El Apellido debe tener entre 3 y 50 caracteres.
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="title">Título</label>
      <input class="form-control" type="text" name="title" id="title" formControlName="title"
              [ngClass]="{'is-invalid': this.title?.invalid && (this.title?.dirty || this.title?.touched),
                          'is-valid': !this.title?.invalid && (this.title?.dirty || this.title?.touched)}">
      <div *ngIf="this.title?.invalid && (this.title?.dirty || this.title?.touched)">
        <p *ngIf="title?.errors?.['required']" class="validation text-danger">
          El Título es requerido.
        </p>
        <p *ngIf="title?.errors?.['minlength'] || title?.errors?.['maxlength']" class="validation text-danger">
          El Título debe tener entre 3 y 80 caracteres.
        </p>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <app-button
    textButton="Guardar"
    nameButton="save"
    typeButton="button"
    [isDisabled]="formIsInValid"
    classButton="btn btn-dark"
    (clickEvent)="onSave()">
  </app-button>
  <app-button
    textButton="Cancelar"
    nameButton="cancel"
    typeButton="button"
    [isDisabled]="false"
    classButton="btn btn-secondary"
    (clickEvent)="onCancel()"
    data-dismiss="modal">
  </app-button>
  <ngx-loading
    [show]="loading"
  ></ngx-loading>
</div>
