.background {
  background-color: #94D3AC;
  padding-bottom: 1.5rem;
}

.title {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1.8rem;
}

.container-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
}

.box {
  margin: 0.3rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
  background-color: #bcdac7;
}

ul.task li {
  margin-top: 1rem;
}

div.hability div {
  float: left;
  margin-right: 0.4rem;
  margin-top: 0.3rem;
  padding: 0.5rem 0.8rem;
  background-color: #e0e7e0;
  border-radius: 0.8rem;
}

@media (min-width: 480px) and (max-width: 767px) {
  .container-box {
    grid-template-columns: 1fr;
  }
}
